footer {
    border-radius: 10px 10px 0 0;
}
.text-ct {
    color: #2dc874d9;
}
.shadow-ct {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.product-title {
    background-color: #212529;
    border-radius: 15px 15px 0px 0px;
    color: white;
}