{% extends "to2compras/layout.html" %}
{% load static %}

{% block title %}
    <div class="p-3 pb-md-3 mx-auto text-center">
        <h3 class="display-6 fw-normal">Acerca De</h3>
    </div>
{% endblock %}

{% block body %}
<div id="mainContent" class="card p-4 mb-3 mt-3" style="border-radius: 10px">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{% static 'to2compras/img/empresa.jpg' %}" class="img-fluid" alt="..." style="border-radius: 10px; min-height: 300px">
            </div>
            <div class="col-md-8">
                <div class="card-body pt-0">
                    <h5 class="card-title">To2Compras</h5>
                    <p class="card-text">Somos una empresa de tecnología líder en comercio electrónico y soluciones fintech de América Latina. Nuestro propósito es democratizar el comercio y los servicios financieros para transformar la vida de millones de personas en la región. Desarrollamos productos tecnológicos que permiten a millones de usuarios comprar, vender, anunciar, enviar y pagar a través de Internet de forma fácil, segura y eficiente.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}