{% extends "to2compras/layout.html" %}
{% load static %}

{% block title %}
    <div class="p-3 pb-md-3 mx-auto text-center">
        <h3 class="display-6 fw-normal">Últimos productos</h3>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        {% for product in products_with_img %}
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card mb-4 shadow-ct border-0" style="border-radius: 15px">
                    <div class="card-header py-3 bg-white border-0" style="border-radius: 15px">
                        <h4 class="my-0 fw-normal p-1 text-center">{{ product.title }}</h4>
                    </div>
                    <div class="card-body text-center">
                        <div>
                            <img src="{{ product.image.url }}" style="object-fit: contain; height: 250px; width: 100%" alt="">
                        </div>
                        <a href="/to2compras/product/{{ product.id }}"><button type="button" class="btn btn-lg btn-dark bt">Ver producto</button></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div style="margin-bottom: 1.5rem!important">
        <div class="p-3 pb-md-3 mx-auto text-center">
            <h3 class="display-6 fw-normal">Más productos</h3>
        </div>
        <ul class="list-group list-group-flush">
            {% for product in products_list %}
            <li
                class="list-group-item mb-3 shadow-ct p-3"
                style="border-radius: 5px">
                <b>{{ product.title}}:</b>
                {{ product.description}}
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
