{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To2Compras</title>
    <link href="{% static 'to2compras/fonts/materialdesignicons-webfont.eot' %}" rel="stylesheet">
    <link href="{% static 'to2compras/fonts/materialdesignicons-webfont.ttf' %}" rel="stylesheet">
    <link href="{% static 'to2compras/fonts/materialdesignicons-webfont.woff' %}" rel="stylesheet">
    <link href="{% static 'to2compras/fonts/materialdesignicons-webfont.woff2' %}" rel="stylesheet">
    <link href="{% static 'to2compras/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'to2compras/css/materialdesignicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'to2compras/css/index.css' %}" rel="stylesheet">
</head>
<body style="background-color: #ebebeb">
<div class="container">
    {% block sticky-top %}
        <div class="sticky-top" id="header" style="border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
            <nav class="navbar navbar-light bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <div style="display: inline-flex">
                            <img src="{% static 'to2compras/img/logo.png' %}" alt="" width="40" height="40" class="align-text-top" style="margin-right: 10px">
                            <h2 class="text-white" style="margin: auto">TO2 Compras</h2>
                        </div>
                    </a>
                    <div class="d-flex">
                        <a href="/to2compras/login" class="text-ct">Login</a>
                        <a href="/to2compras/logout" class="text-ct" style="margin-left: 15px">Logout</a>
                        <a href="/to2compras/register" class="text-ct" style="margin-left: 15px">Registro</a>
                        <a href="/to2compras/cart" class="text-ct" style="margin-left: 15px">Carrito</a>
                    </div>
                </div>
            </nav>
            <header class="pb-2 text-white bg-dark shadow" style="background-color: #ebebeb; border-radius: 0 0 10px 10px">
                <div class="container-fluid">
                    <div class="d-flex flex-wrap justify-content-start">
                        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                            <li><a href="/to2compras/" class="nav-link px-2 text-ct" style="font-weight: 400">Home</a></li>
                            <li class="nav-item dropdown">
                              <a class="nav-link text-ct dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Categorias
                              </a>
                              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                  {% for category in categories %}
                                      <li>
                                          <a class="dropdown-item"
                                             href="{{ "/to2compras/queryResults?category=" }}{{ category.description }}{{ "&q=''" }}">{{ category.description }}
                                          </a>
                                      </li>
                                  {% endfor %}
                              </ul>
                            </li>
                            <li><a href="/to2compras/about" class="nav-link px-2 text-ct" style="font-weight: 400">Acerca De</a></li>
                            <li><a href="mailto:to2compras@info.com" class="nav-link px-2 text-ct" style="font-weight: 400">Contacto</a></li>
                            <li><a href="/to2compras/product/create" class="nav-link px-2 text-ct" style="font-weight: 400">Nuevo Producto</a></li>
                        </ul>
                        <form action="" method="post" class="col-12 col-lg-auto mb-3 mb-lg-0">{% csrf_token %}
                            <div class="d-flex">
                                <input type="search" class="form-control form-control-dark" name="q" placeholder="Buscar..." aria-label="Search">
                                <button class="btn text-white" type="submit"><i class="mdi mdi-magnify"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </header>
        </div>
    {% endblock %}

    {% block title %}
    {% endblock %}

    {% block body %}

    {% endblock %}

    {% block footer %}
        <footer id="footer" class="footer mt-auto py-3 bg-dark text-center">
            <span class="text-ct">© 2021 To2Compras - Todos los derechos reservados Bruno Portesio</span>
        </footer>
    {% endblock %}
</div>
<script src="{% static 'to2compras/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>