{% extends "to2compras/layout.html" %}
{% load static %}

{% block body %}
    <form action="" method="post">{% csrf_token %}
        <div id="main">
            <main class="form-signin text-center row p-0 mt-4 mb-4">
                <form class="p-0">
                    <div id="mainContent" class="card p-5" style="border-radius: 10px">
                        <div style="margin: auto">
                            <div style="max-width: 350px">
                                <h1 class="h3 mb-3 fw-normal">Acceder a la Web</h1>
                                <div class="form-floating mb-2">
                                    <input class="form-control" id="floatingInput" name="username" placeholder="Usuario" required>
                                    <label for="floatingInput">Username</label>
                                </div>
                                <div class="form-floating">
                                    <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password" required>
                                    <label for="floatingPassword">Password</label>
                                </div>
                                <button class="w-100 mt-3 btn btn-lg btn-dark" type="submit">Acceder a la Web</button>
                            </div>
                        </div>
                    </div>
                </form>
            </main>
        </div>
    </form>
    <script type="text/javascript">
        var headerHeight = document.getElementById('header').clientHeight;
        var footerHeight = document.getElementById('footer').clientHeight;
        var windowsHeight = window.innerHeight
        document.getElementById('mainContent').style.minHeight = windowsHeight  - (headerHeight + footerHeight + 48 )+ 'px';
    </script>
{% endblock %}