{% extends "to2compras/layout.html" %}
{% load static %}

{% block body %}
    <form action="" method="post">{% csrf_token %}
        <div id="main">
            <main class="form-signin text-center row p-0 mt-4 mb-4">
                <form class="p-0">
                    <div id="mainContent" class="card p-5" style="border-radius: 10px">
                        <div style="margin: auto">
                            <div style="max-width: 350px">
                                <h1 class="h3 mb-3 fw-normal">Cerrar Sesión</h1>
                                <button type="submit">Cerrar Sesión</button>
                            </div>
                        </div>
                    </div>
                </form>
            </main>
        </div>
    </form>
    <script type="text/javascript">
        var headerHeight = document.getElementById('header').clientHeight;
        var footerHeight = document.getElementById('footer').clientHeight;
        var windowsHeight = window.innerHeight
        document.getElementById('mainContent').style.minHeight = windowsHeight  - (headerHeight + footerHeight + 48 )+ 'px';
    </script>
{% endblock %}