{% extends "to2compras/layout.html" %}
{% load static %}

{% block title %}
{% endblock %}

{% block body %}
    <form action="" method="post">{% csrf_token %}
        <div id="main" class="p-0 mb-4">
            <div id="mainContent" class="card mb-4 mt-4 shadow-ct border-0" style="border-radius: 15px">
                <div class="row g-0">
                    <h1 class="h3 p-3 fw-bold text-center product-title"
                        style="    background-color: #212529;
                        border-radius: 15px 15px 0px 0px;
                        color: white;">
                        {{ product.title }}
                    </h1>
                    <div class="col-md-4 p-4 text-center">
                        <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="..." style="height: 220px; width: 220px; object-fit: contain">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title h4 pb-2">{{ product.category.description }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <div class="row">
                                <div class="col-6">
                                    <h5 class="h3" style="float: left; margin: auto">PRECIO: ${{product.price}}</h5>
                                </div>
                                <div class="col-6">
                                    <button type="submit" class="btn btn-md btn-dark bt" style="float: right; margin: auto">Agregar al carrito</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}