{% extends "to2compras/layout.html" %}
{% load static %}

{% block title %}
{% endblock %}

{% block body %}
    <div id="main" class="p-0 mb-4">
        <div id="mainContent" class="card mb-4 mt-4 shadow-ct border-0" style="border-radius: 15px">
        <div class="row g-0">
            <div class="h3 p-3 fw-bold text-center product-title">
                <input class="form-control" type="text" placeholder="Titulo de producto" value="{{ product.title }}" aria-label="default input example">
            </div>
            <div class="col-md-4 p-4 text-center" style="margin: auto">
                <label for="formFileSm" class="form-label">Imagen del producto:</label>
                <input class="form-control form-control-sm" id="formFileSm" type="file">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <select name="category" class="form-select form-select mb-3" aria-label=".form-select-lg example">
                        {% for category in categories %}
                            <option selected>{{ product.category.description }}</option>
                            <option value="{{ category.id }}">{{ category.description }}</option>
                        {% endfor %} }
                    </select>
                    <textarea class="form-control mb-3" id="exampleFormControlTextarea1" placeholder="Descripcion" rows="3">{{ product.description }}</textarea>
                    <div class="row">
                        <div class="col-6">
                            <input name="price" class="form-control" type="text" placeholder="Precio" aria-label="default input example" value="{{ product.price }}">
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-md btn-dark bt ms-2" style="float: right; margin: auto">BORRAR</button>
                            <button type="button" class="btn btn-md btn-dark bt ms-2" style="float: right; margin: auto">EDITAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}