{% extends "to2compras/layout.html" %}
{% load static %}

{% block title %}
{% endblock %}

{% block body %}
        <form id="main" action="" method="post" class="p-0 mb-4" enctype="multipart/form-data">{% csrf_token %}
            <div id="mainContent" class="card mb-4 mt-4 shadow-ct border-0" style="border-radius: 15px">
                <div class="row g-0">
                    <div class="h3 p-3 fw-bold text-center product-title">
                        <input name="title" class="form-control" type="text" placeholder="Titulo de producto">
                    </div>
                    <div class="col-md-4 p-4 text-center" style="margin: auto">
                        <label for="formFileSm" class="form-label">Imagen del producto:</label>
                        <input name="image" class="form-control form-control-sm" id="formFileSm" type="file">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <select name="category" class="form-select form-select mb-3" aria-label=".form-select-lg example">
                                {% for category in categories %}
                                    <option selected>Categorias</option>
                                    <option value="{{ category.id }}">{{ category.description }}</option>
                                {% endfor %} }
                            </select>
                            <textarea name="description" class="form-control mb-3" id="exampleFormControlTextarea1" placeholder="Descripcion" rows="3"></textarea>
                            <div class="row">
                                <div class="col-6">
                                    <input name="price" class="form-control" type="text" placeholder="Precio" aria-label="default input example">
                                </div>
                                <div class="col-6">
                                    <button type="submit" class="btn btn-md btn-dark bt" style="float: right; margin: auto">CREAR</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
{% endblock %}