{% extends "to2compras/layout.html" %}
{% load static %}

{% block title %}
    <div class="p-3 pb-md-3 mx-auto text-center">
        <h3 class="display-6 fw-normal">Listado de Productos</h3>
    </div>
{% endblock %}

{% block body %}
    <div id="main" class="p-0 mt-4 mb-4">
        <div id="mainContent" class="" style="border-radius: 10px">
            <div style="margin-bottom: 1.5rem!important">
                <ul class="list-group list-group-flush">
                    {% for product in products %}
                        <li class="list-group-item mb-3 shadow-ct p-3" style="border-radius: 5px">
                            <div><b>{{ product.title }} ${{ product.price }}</b></div>
                            <div>{{ product.description }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}