{% extends "to2compras/layout.html" %}
{% load static %}

{% block body %}
    <div id="main">
        <main class="form-signin text-center row p-0 mt-4 mb-4">
            <form action="" method="post" class="p-0">{% csrf_token %}
                <div id="mainContent" class="card p-5" style="border-radius: 10px">
                    <div style="margin: auto">
                        <div style="max-width: 350px">
                            <h1 class="h3 mb-3 fw-normal text-center">Registrarse En Nuestra Web</h1>
                            <div class="form-floating mb-2">
                                <input type="email" name="email" class="form-control" id="floatingEmail" placeholder="name@example.com" required>
                                <label for="floatingEmail">Email</label>
                            </div>
                            <div class="form-floating mb-2">
                                <input type="text" name="username" class="form-control" id="floatingUser" placeholder="Usuario" required>
                                <label for="floatingUser">Usuario</label>
                            </div>
                            <div class="form-floating mb-2">
                                <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required>
                                <label for="floatingPassword">Password</label>
                            </div>
                            <div class="form-floating">
                                <input type="password" name="passwordVerify" class="form-control" id="floatingPasswordRepeat" placeholder="Verificar Password" required>
                                <label for="floatingPasswordRepeat">Verificar password</label>
                            </div>
                            <button class="w-100 mt-3 btn btn-lg btn-dark" type="submit">Registrarse</button>
                        </div>
                    </div>
                </div>
            </form>
        </main>
    </div>
    <script type="text/javascript">
        var headerHeight = document.getElementById('header').clientHeight;
        var footerHeight = document.getElementById('footer').clientHeight;
        var windowsHeight = window.innerHeight
        document.getElementById('mainContent').style.minHeight = windowsHeight  - (headerHeight + footerHeight + 48 )+ 'px';
    </script>
{% endblock %}