{% extends "to2compras/layout.html" %}
{% load static %}

{% block body %}
    <div id="main">
        <main class="form-signin text-center row p-0 mt-4 mb-4">
            <form action="" method="post" class="p-0">{% csrf_token %}
                <div id="mainContent" class="card p-5" style="border-radius: 10px">
                    <div style="margin: auto">
                        <div style="max-width: 350px">
                            <h1 class="h3 mb-3 fw-normal text-center">Registro exitoso</h1>
                            <button class="w-100 mt-3 btn btn-lg btn-dark" type="submit">Iniciar sesión</button>
                        </div>
                    </div>
                </div>
            </form>
        </main>
    </div>
    <script type="text/javascript">
        var headerHeight = document.getElementById('header').clientHeight;
        var footerHeight = document.getElementById('footer').clientHeight;
        var windowsHeight = window.innerHeight
        document.getElementById('mainContent').style.minHeight = windowsHeight  - (headerHeight + footerHeight + 48 )+ 'px';
    </script>
{% endblock %}