{% extends "to2compras/layout.html" %}
{% load static %}

{% block title %}
    <div class="p-3 pb-md-3 mx-auto text-center">
        <h3 class="display-6 fw-normal">Carrito</h3>
    </div>
{% endblock %}

{% block body %}
    <form action="" method="post">{% csrf_token %}
        <div id="main" class="p-0 mb-4">
        <h1 class="h5 mb-3 fw-bold">Usuario: {{ user.username}}</h1>
        <div id="mainContent" class="" style="border-radius: 10px">
            <div style="margin-bottom: 1.5rem!important">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        {% for cartProduct in cartProducts %}
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3 ">
                                <div>
                                    <b>{{ cartProduct.products.title}}</b>
                                    <p class="mb-0">{{ cartProduct.products.description}}</p>
                                    <b>${{ cartProduct.products.price}}</b>
                                </div>
                                <input type="text" name="productToDelete" value="{{ cartProduct.products.id }}" style="display: none">
                                <button type="submit" name="action" value="deleteSingleProduct" class="mdi mdi-close-box" style="font-size: 20px"></button>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="card-footer bg-white border-0 p-3" style="background-color: #ebebeb !important;">
                        <button type="submit" value="cleanCart" class="btn btn-md btn-dark bt ms-2" style="float: right; margin: auto">Finalizar Compra</button>
                        <button type="submit" name="action" value="cleanCart" class="btn btn-md btn-dark bt ms-2" style="float: right; margin: auto">Vaciar Carrito</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </form>
{% endblock %}